body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #4facfe, hwb(17 0% 0%));
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  margin-top: 100px;
  background: white;
  padding: 40px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
}

h2 {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4facfe;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #007bff;
}

.result {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}